<%- include('components/header')-%>

    <body>
        <%- include('components/navbar')-%>
            <div class="container aboutme">
                <div class="row aboutme_cont">
                    <div class="col-md-6 aboutme_data_cont">
                        <div class="aboutme_data">
                            <div class="about_head">
                                <h2>LITTLE BIT ABOUT MY SELF</h2>
                            </div>
                            <p class="about_para">
                                My name is Hamid Ahmad and I am doing BSCS from PUCIT Lahore. I am self-taught web developer. I am a passionate WEB DEVELOPER. In building this website I used technologies like HTML, CSS, JS, BOOTSTRAP, MONGOOSE, EXPRESS, JWT etc. I learnt many new things
                                while building this website. But, I am still in the learning phase and I am excited to learn new technologies. While I'm lerning React JS right now to enhance my skills. I am also learning many oter skills and technologies.
                                I also learnt little bit PYTHON and want to explore more tech world.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="my_image">
                            <img src="/img/img.jpeg" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <%- include('components/footer')-%>
    </body>

    </html>