<%- include('components/header') -%>

    <body>
        <%- include("components/navbar")-%>

            <section class="banner">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7 col-md-12">
                            <div class="banner_data">
                                <p>Are You Worried About Your Daily Routine??</p>
                                <p>Now Forget It Because we are here.</p>
                                <div class="banner_btn">
                                    <button><span></span> <a href="/signin">Sign In</a></button>
                                    <button><span></span> <a href="/signup">Sign Up</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- <div class="web_logo_mobile">
        <img src="/img/logo.jpg" alt="">
    </div> -->
            <!-- ------------------------------------------------ -->

            <!-- Offering -->
            <section class="sec_2">

                <h1>What we are Offering??</h1>
                <div class="container">
                    <div class="row sec_2_row">
                        <div class="col-xl-8">
                            <div class="sec_2_cont">
                                <div class="sec_2_data">
                                    <div class="sec_2_data_img">
                                        <img src="/img/icon_clock.png" alt="">
                                    </div>
                                    <h2>Access Any time</h2>
                                </div>
                                <div class="sec_2_data">
                                    <div class="sec_2_data_img">
                                        <img src="/img/icon_globe.png" alt="">
                                    </div>
                                    <h2>Access from Anywhere</h2>
                                </div>
                                <div class="sec_2_data">
                                    <div class="sec_2_data_img">
                                        <img src="/img/icon_people.png" alt="">
                                    </div>
                                    <h2>Privacy Protected</h2>
                                </div>
                                <div class="sec_2_data">
                                    <div class="sec_2_data_img">
                                        <img src="/img/course.png" alt="">
                                    </div>
                                    <h2>Add many Tasks</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="thinking">
                <div class="think_1 think_common">
                    <div class="think_1_data">
                        <h1>So Why are you waiting now??</h1>
                    </div>
                </div>
                <div class="think_2 think_common">
                    <div class="think_2_data">

                    </div>
                </div>
                <div class="think_3 think_common">
                    <div class="think_3_data">
                        <h3>Are you Ready? So sign Up now!</h3>
                        <div class="banner_btn">
                            <button><span></span> <a href="/signin">Sign In</a></button>
                            <button><span></span> <a href="/signup">Sign Up</a></button>
                        </div>
                    </div>
                </div>
            </section>
            <div class="section_connect">

            </div>

            <section class="features">
                <div class="features_head">
                    <h1>Feautures We Are Offerting.</h1>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 feature_left">
                            <ul>
                                <li>Add your unlimited tasks.</li>
                                <li>Track your tasks.</li>
                                <li>Store information about task.</li>
                                <li>Seprate list for completed task.</li>
                                <li>You can use this free of cost.</li>
                            </ul>
                        </div>
                        <div class="col-md-6 feature_right">
                            <div class="feature_img">
                                <img src="/img/todo.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <%- include('components/footer')-%>
    </body>

    </html>

    <script>
        var menu_btn = document.getElementById('menu_btn');
        var close_btn = document.getElementById('close_btn');
        var side_nav = document.querySelector('.side_nav')
        var my_close_btn = document.querySelector('.close')



        menu_btn.onclick = function() {
            console.log("it's clicked")
            menu_btn.style.display = "none";
            side_nav.style.display = "block"
            my_close_btn.style.display = "block"
            my_close_btn.style.filter = "brightness(100)"
        }

        my_close_btn.onclick = function() {
            my_close_btn.style.display = "none"
            menu_btn.style.display = "block";
            side_nav.style.display = "none"
        }
    </script>